.aboutHeading{
    width: 100%;
    max-width: 1500px;
    margin: 5rem 0 3rem 0;
    font-size: 4rem;
}

.bold{
    font-weight: 600;
}

.aboutSection{
    width: 100%;
    max-width: 1500px;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    color: white;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.aboutSection p:last-child{
    margin: 0;
}

.aboutSection:nth-of-type(1){
    border-color: #4aafd1;
    background-color: #51bde2;
}

.aboutSection:nth-of-type(2){
    border-color: #7b8dc7;
    background-color: #8295d3;
}

.aboutSection:nth-of-type(3){
    border-color: #f22f43;
    background-color: #ff3247;
}

.aboutSection:nth-of-type(4){
    border-color: #ed7332;
    background-color: #fa7b36;
    justify-content: space-evenly;
    align-items: center;
}

.paraContainer{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.imgContain{
    width: 40%;
    min-width: 40%;
    height: fit-content;
    border-radius: 10px;
}

.imgContain img{
    border-radius: 10px;
}

.aboutSection:nth-of-type(1) .imgContain{
    /* box-shadow: 10px 10px 0 #6501c398; */
    box-shadow: 10px 10px 0 white;
}
.aboutSection:nth-of-type(1) .imgContain img{
    box-shadow: 10px 10px 10px #0000005b;
}

.aboutSection:nth-of-type(2) .imgContain{
    /* box-shadow: -10px 10px 0 #6501c3c5; */
    box-shadow: -10px 10px 0 white;
}

.aboutSection:nth-of-type(2) .imgContain img {
    box-shadow: -10px 10px 10px #0000005b;
}

.aboutSection:nth-of-type(3) .imgContain {
    /* box-shadow: 10px 10px 0 #6501c398; */
    box-shadow: 10px 10px 0 white;
}

.aboutSection:nth-of-type(3) .imgContain img {
    box-shadow: 10px 10px 10px #0000005b;
}

.outerCard{
    width: 18rem;
    border-radius: 10px;
    font-size: 1rem;
    border-color: #b34104;
    overflow: hidden;
    border-width: 5px;
}

.outerCard img{
    border-radius: 0px;
}

.innerCard{
    border-top: #b34104 5px solid;
}

.aboutButton{
    height: fit-content;
    font-size: 1.4rem;
    background-color: #b34104 !important;
    border-color: #b34104 !important;
}

.outerCard .aboutButton{
    font-size: inherit;
}

.aboutButton:hover{
    background-color: #8f3402 !important;
    border-color: #b34104 !important;
}

.aboutButton:active{
    box-shadow: rgb(179, 65, 4, 0.5) 0px 0px 0px 3.2px !important;
    background-color: #8f3402 !important;
    border-color: #b34104 !important;
}

.aboutButton:focus{
    box-shadow: rgb(179, 65, 4, 0.5) 0px 0px 0px 3.2px !important;
    background-color: #8f3402 !important;
    border-color: #b34104 !important;
}

.links{
    color: black;
    text-decoration: underline;
    transition: color 0.1s linear;
}

.links:hover{
    color: rgb(96, 96, 96);
    /* text-decoration: none; */
}

@media screen and (max-width: 960px){
    .paraContainer{
        width: 100%;
    }
    
    .aboutSection:nth-of-type(1) .paraContainer, .aboutSection:nth-of-type(3) .paraContainer {
        margin-bottom: 3rem;
    }
    
    .aboutSection:nth-of-type(2) .paraContainer{
        margin-top: 3rem;
    }
    
    .aboutSection{
        font-size: 1.2rem;
        flex-direction: column;
        align-items: center;
    }
    
    .aboutSection:nth-of-type(4){
        min-height: 700px;
        border: none;
        justify-content: space-between;
    }
    
    .imgContain{
        width: 70%;
        min-width: 70%;
    }

    .aboutSection:nth-of-type(1) .imgContain{
        box-shadow: 0 10px 0 #6501c398;
    }
    .aboutSection:nth-of-type(1) .imgContain img{
        box-shadow: 0 10px 10px #0000005b;
    }
    
    .aboutSection:nth-of-type(2) .imgContain{
        box-shadow: 0 10px 0 #6501c3c5;
    }
    
    .aboutSection:nth-of-type(2) .imgContain img {
        box-shadow: 0 10px 10px #0000005b;
    }
    
    .aboutSection:nth-of-type(3) .imgContain {
        box-shadow: 0 10px 0 #6501c398;
    }
    
    .aboutSection:nth-of-type(3) .imgContain img {
        box-shadow: 0 10px 10px #0000005b;
    }
}
